body {
    margin: 0;
    font-family: serif;
    background-image: url("../docs/assets/background.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.hero {
    color: Black;
}

@font-face {
    font-family: "tech_title_font";
    src: url("/docs/assets/Bodoni72SmallcapsBook.ttf") format('truetype'); 
    
  }

h1 {
    font-family: tech_title_font;
    text-align: center;
    font-size: 100px;
    position: relative;
    margin-top: 20px;
    margin-botton: 20px;
    top: 60px;
    font-weight: normal;
}

h2 {
    font-family: tech_title_font;
    text-align: center;
    font-size: 80px;
    position: relative;
    top: 60px;
    font-weight: normal;
    margin-bottom: 100px;
}

h3 { 
    font-family: serif;
    font-size: 25px;
    position: relative;

}

.navbar {
    
    background-color: #333;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%
}

.navbar a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.search-container {
    top: 0px;
    right: 5px;
    padding: 5px;
    font-size: 16px;
    float: right;
    position: fixed;
    display: block;
    overflow: hidden;
    z-index: 3;
    
}

#searchInput{
    float: right;
    display: block;
    padding: 5px;
    font-size: 16px;
    overflow: hidden;
    z-index: 3;
    
}

.newbutton{
    background-color: white;
    color: #333;
    font-family: serif;
    display: block;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    z-index: 3;
}


.article_block {
    overflow: hidden;
    background-color: white;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;

    top: +500px;


    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.collapsible_article{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 80%;
    position: relative;
    z-index: 1;

    background:#333;
    color:#ddd;
    color:#ddd;
    padding: 18px;
    border: none;
    text-align: center;
    font-size: 25px;
    font-family: serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.active, .collapsible:hover {
    background-color: #454545;
  }

.article_content {
    overflow: hidden;
    display: none;
    background-color: white;
    width: 74%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: -30px;


    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .alignright {
    float: right;
    padding-right: 5%;
}

@keyframes highlightFade {
    0% {
        background-color: #838282;
    }
    100% {
        background-color: #333; 
    }
}

.highlighted {
    animation: highlightFade 2s ease; 
}

.contact_block {
    display: inline-block;
    overflow: hidden;
    background-color: white;
    width: 300px;
    height: 300px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-bottom: 30px;
    top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contactcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    justify-content: center;
}

.contactbutton{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

