body {
    margin: 0;
    font-family: sans-serif;
    background-color: #42413E;
    background-attatchment: fixed;
    background-position: center;
    bacground-size: cover;
}

.hero {
    background-color: #B0C5EB;
    color: white;
}
