body {
    margin: 0;
    font-family: serif;
    background-image: url("../docs/assets/background.png");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

@font-face {
    font-family: "tech_title_font";
    src: url("..docs/assets/Bodoni 72 Smallcaps Book.ttf") format('truetype'); 
    font-weight: bold;
    font-style: normal;
  }

h1 {
    font-family: tech_title_font;
    text-align: center;
    font-size: 100px;
    position: relative;
    top: 40px;
}

